nav{
    text-align: right;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-item{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
}

.nav-space{
    margin-right: 10px;
    padding-right: 15px;
    margin-top: 5px;
}

.nav-item:hover{
    text-decoration: underline;
    color: #5F6368;
}

.logo{
    height: 100px;
}

section{
    text-align:center;
    margin-top: 100px;
}

.search-area{
    text-align: center;
}

.smaller-box{
    display: inline-block;
    width: 600px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid #F3F3F3;
    margin: 30px;
}

.smaller-box:hover{
    box-shadow: 0px 3px 18px -6px rgba(163,163,163,1);
}

.search-bar{
    border: none;
    width: 500px;
    height: 20px;
}

.search-bar:focus{
    outline:none;
}

.search-icon{
    height: 15px;
    margin-top: 10px
}

.mic-icon{
    width: 13px;
    margin-top: 7px;

}

.google-button{
    font-size: 10pt;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #F3F3F3;
    box-sizing: border-box;
    color: #5F6368;
    padding: 1px 7px 2px;
    margin-right: 5px;
}

.google-button:hover{
    color: black;
    border: 1px #5f6368;
    box-shadow: 0px 3px 18px -6px rgba(163,163,163,1);;
}
.button-area{
    margin-bottom: 20px;
}

.offer-link{
    margin-left: 5px;
    text-decoration: none;
    color: #1B0DAB;
}

.footer{
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid hsl(0, 0%, 89%);
    color: #5F6368;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-top{
    border-bottom: 1px solid #e4e4e4;
    padding-left: 27px;
    font-size: 11pt;
}

.footer-bottom{
    padding-left: 27px;
    font-size: 10pt;
}

.f-link{
    text-decoration: none;
    color: #5F6368;
    padding-right: 27px;
    font-size: 10pt;
}

.right-links{
    position: absolute;
    right: 0;
    bottom: 0;
}

*{
    font-family: Arial, sans-serif;
}